@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS DO BOTÃO DE FEEDBACK*/

body{
    @apply bg-[#09090A] text-zinc-100;
}

.WidgetPosicao{
    @apply fixed bottom-4 right-4 md:bottom-10 md:right-10 right-5 flex flex-col items-end
}

.WidgetExpandir{
    @apply bg-red-700 rounded-full px-3 h-12 
    text-white flex items-center
}

.WidgetRetrair{
    @apply max-w-0 overflow-hidden group-hover:max-w-xs transition-all duration-700 ease-linear
}

.CloseWidget{
    @apply top-5 right-5 absolute text-zinc-400 hover:text-zinc-100
}

.ScreenshotPosition{
    @apply p-1 w-10 h-10 rounded-md border-transparent flex justify-end items-end
    text-zinc-400 hover:text-zinc-100 transition
}

.ScreenshotLayout {
    @apply p-2 bg-zinc-800 rounded-md border-transparent hover:bg-zinc-700
}

.LoadingAnimation{
    @apply w-6 h-6 flex items-center justify-center overflow-hidden animate-spin
}

.BoxSuccessFeedback{
    @apply bg-zinc-900 p-4 relative rounded-2xl mb-4 flex-col items-center shadow-lg 
    w-[calc(100vw-2rem)] md:w-auto
}

.Footer{
    @apply text-xs text-neutral-400
}

.TiposFeedback{
    @apply flex py-8 gap-2 w-full
}

.DeixarFeedback{
    @apply text-xl leading-6
}

.BoxFeedbackTypes{
    @apply bg-zinc-800 rounded-lg py-5 w-24 flex-1 flex flex-col items-center gap-2 border-2 border-transparent hover:border-b-red-600 focus:border-b-red-600 focus:outline-none
}

.LayoutSuccessFeedback{
    @apply flex flex-col items-center py-10
}

.SendNewFeedback{
    @apply py-2 px-6 mt-6 bg-zinc-800 rounded-md border-transparent text-sm leading-6 hover:bg-zinc-700 
}

.ArrowReturn{
    @apply top-5 left-5 text-zinc-400 hover:text-zinc-100
}

.FeedbackContent{
    @apply text-xl leading-6 flex items-center gap-2
}

.FeedbackText{
    @apply min-w-[304px] w-full min-h-[112px] text-sm placeholder-zinc-400 text-zinc-100 border-zinc-600 
    bg-transparent rounded-md 
}

.FeedbackSend{
    @apply p-2 bg-red-600 rounded-md border-transparent flex-1 flex justify-center items-center text-sm
    hover:bg-red-700
}

/* CSS DA BACKGROUND PAGE*/


:root {
    --primary: #141414;
    --light: #F3F3F3;
    --dark: 	#686868;
  }
  
  html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
  }
  
  img {
    max-width: 100%;
  }
  
  h1 {
    padding-top: 60px;  
  }
  
  .wrapper {
    margin: 0;
    padding: 0;
  }
  
  /* HEADER */
  header {
    padding: 20px 20px 0 20px;
    position: fixed;
    top: 0;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
     "nt mn mn sb . . . "; 
    background-color: var(--primary);
    width: 100%;
    margin-bottom: 0px;  
  }
  
  .netflixLogo {
    grid-area: nt;
    object-fit: cover;
    width: 100px;
    max-height: 100%;
    
    padding-left: 30px;
    padding-top: 0px;  
  }
  
  .netflixLogo img {  
    height: 35px;     
  }
  
  #logo {
    color: #E50914;  
    margin: 0; 
    padding: 0; 
  }
  
  
  .main-nav {
    grid-area: mn;
    padding: 0 30px 0 20px;
  }
  
  .main-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;  
  }
  
  .main-nav a:hover {
    color: var(--dark);
  }
  
  .sub-nav {
    grid-area: sb;
    padding: 0 40px 0 40px;
  }
  
  .sub-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
  }
  
  .sub-nav a:hover {
    color: var(--dark);
  }
  
  
  /* MAIN CONTIANER */
  .main-container {
    padding: 50px;
  }
  
  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
  }
  
  .box a {
    transition: transform .3s;  
  }
  
  .box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.4);  
    transform: scale(1.4);
  }
  
  .box img {
    border-radius: 2px;
  }
  
  /* LINKS */
  .link {
    padding: 50px;
  }
  
  .sub-links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .sub-links a {
    color: var(--dark);
    text-decoration: none;
  }
  
  .sub-links a:hover {
    color: var(--dark);
    text-decoration: underline;
  }
  
  .logos a{
    padding: 10px;
  }
  
  .logo {
    color: var(--dark);
  }
  
  
  /* FOOTER */
  footer {
    padding: 20px;
    text-align: center;
    color: var(--dark);
    margin: 10px;
  }
  
  /* MEDIA QUERIES */
  
  @media(max-width: 900px) {
  
    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
    }
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(4, minmax(100px, 1fr));
    }
  
  }
  
  @media(max-width: 700px) {
  
    header {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
    }
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }
     
  }
  
  @media(max-width: 500px) {
  
    .wrapper {
      font-size: 15px;
    }
  
    header {
      margin: 0;
      padding: 20px 0 0 0;
      position: static;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas: 
      "nt"    
      "mn"
      "sb";
      text-align: center;
    }
  
    .netflixLogo {
      max-width: 100%;
      margin: auto;
      padding-right: 20px;
    }
  
    .main-nav {
      display: grid;
      grid-gap: 0px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
  
    h1 {
      text-align: center;
      font-size: 18px;
    }
  
   
  
    .box {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;    
    }
  
    .box a:hover {
      transition: transform .3s;
      -ms-transform: scale(1);
      -webkit-transform: scale(1);  
      transform: scale(1.2);
    }
  
    .logos {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
    }
  
    .sub-links ul {
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      font-size: 15px;
    }
  
  }