@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS DO BOTÃO DE FEEDBACK*/

body{
    @apply bg-[#09090A] text-zinc-100;
}

.WidgetPosicao{
    @apply fixed bottom-4 right-4 md:bottom-10 md:right-10 right-5 flex flex-col items-end
}

.WidgetExpandir{
    @apply bg-red-700 rounded-full px-3 h-12 
    text-white flex items-center
}

.WidgetRetrair{
    @apply max-w-0 overflow-hidden group-hover:max-w-xs transition-all duration-700 ease-linear
}

.CloseWidget{
    @apply top-5 right-5 absolute text-zinc-400 hover:text-zinc-100
}

.ScreenshotPosition{
    @apply p-1 w-10 h-10 rounded-md border-transparent flex justify-end items-end
    text-zinc-400 hover:text-zinc-100 transition-colors
}

.ScreenshotLayout {
    @apply p-2 bg-zinc-800 rounded-md border-transparent hover:bg-zinc-700
}

.LoadingAnimation{
    @apply w-6 h-6 flex items-center justify-center overflow-hidden animate-spin
}

.BoxSuccessFeedback{
    @apply bg-zinc-900 p-4 relative rounded-2xl mb-4 flex-col items-center shadow-lg 
    w-[calc(100vw-2rem)] md:w-auto
}

.Footer{
    @apply text-xs text-neutral-400
}

.TiposFeedback{
    @apply flex py-8 gap-2 w-full
}

.DeixarFeedback{
    @apply text-xl leading-6
}

.BoxFeedbackTypes{
    @apply bg-zinc-800 rounded-lg py-5 w-24 flex-1 flex flex-col items-center gap-2 border-2 border-transparent hover:border-b-red-600 focus:border-b-red-600 focus:outline-none
}

.LayoutSuccessFeedback{
    @apply flex flex-col items-center py-10
}

.SendNewFeedback{
    @apply py-2 px-6 mt-6 bg-zinc-800 rounded-md border-transparent text-sm leading-6 hover:bg-zinc-700 
}

.ArrowReturn{
    @apply top-5 left-5 text-zinc-400 hover:text-zinc-100
}

.FeedbackContent{
    @apply text-xl leading-6 flex items-center gap-2
}

.FeedbackText{
    @apply min-w-[304px] w-full min-h-[112px] text-sm placeholder-zinc-400 text-zinc-100 border-zinc-600 
    bg-transparent rounded-md 
}

.FeedbackSend{
    @apply p-2 bg-red-600 rounded-md border-transparent flex-1 flex justify-center items-center text-sm
    hover:bg-red-700
}

/* CSS BACKGROUND*/

.bodyBackground{
  background:#09090A;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 360px;
  background-color: white;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: "Roboto", sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}

.form-field {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Roboto", sans-serif;
  background: #09090A;
}

.ErrorMessage {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #f2f2f2;
  margin-bottom: 15px;
}

/* .error {
  border-style: solid;
  border: 2px solid #ffa4a4;
} */


